@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');#root {
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-container{
  padding: 0px !important;
}

.App{
  display: flex;
  font-family: 'Inter', sans-serif;
  --secondary-background: #FBFBFB;
  --btn-color: #e5e5e5;
  /* height: 100%; */


}

/* Content - Main Screen */

.content{
  width: 100%;
  height: 100vh;
  padding: 0px !important;
}

/* Nav bar */
.navbar-col {
  padding: 0px !important;
  height: 150vh !important;
}

.nav{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  width: 100%;
  float: left;
  padding: 10px;
  background-color: var(--secondary-background);
  border-right: 1px solid lightgray;
  
  height: 100%;

}

.nav h3{
  padding-left: 10px;
  padding-right: 10px;
}

.nav a {
  text-align: left;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  width: 100%;
  /*margin: 10px 10px 10px 10px;*/
  transition: 0.2s;
  font-weight: 200;
}
.nav a:hover{
  background-color: #EFEFEF;
  color: black;
}
.nav .active{
  background-color: #EFEFEF;
  font-weight: normal;
}




/* Home */
.home{
  justify-content: last baseline;
}

.home h1 {
  font-weight: 200;
  margin-bottom: 20px;
}
.home .left-screen{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.home .right-screen{
  display: flex;
  /* justify-content:center; */
  margin-top: 20px;
  padding-left: 30px;

}

/* Explore in Home */

.explore{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-left: 30px;
}
.explore h1{
  margin-bottom: 25px;
  font-weight: 100;
}
.explore .explore-videos{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    background-color: var(--secondary-background);
    width: 175px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
  }
.explore .video img{
  height: 60px;
  width: 100px;
}
/* Course */

.course {
  display: flex;
  flex-direction: column;
  width: 900px;
  
}

.course h1 {
  align-self: baseline;
  font-size: 2rem;
  font-weight: 100;
}

.course-videos{
  display: flex;
  gap: 20px;
  overflow: overlay;
  /* width: 50%; */
  /* overflow: scroll;
  width: 50%; */
}

/* Video */
.video{
  /* --video-height: 200px; */
  --video-width: 200px;
  height: 160px;
  /* height: var(--video-height); */
  width: var(--video-width);
  
}
.video img{
  border: 1px solid gray;
  border-radius: 5px;
}

.video p:hover {
  overflow: visible;
  white-space:normal;

}


.video img{
  width: 200px;
}

.video p{
  width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 300;
}

/* Watching */

.watching {
 justify-content: space-between; 
 gap: 5px;
 height: 100%;
 /* width: 100%; */
}

.watching .right-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.watching .right-screen .button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.watching .right-screen .button-container .active{
  color: white;
  background-color: #0a0a0a;
}
.watching .btn{
  border-radius: 15px;
  background-color: var(--btn-color);
  color: black;
  border: 0px;
  /* width: 120px; */
}

.button-container .btn{
  width: 120px;
}

.sidebar{
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 30px;
  
  background-color: #f4f4f4;
  /* border: 1px solid #aaaaaa; */
  /* offset-x | offset-y | blur-radius | color */
  /* box-shadow: 5px 5px 40px #acabab; */
  
  height: 660px;
  overflow: scroll;
}



.comments{
  margin-top: 20px;
  overflow: scroll;
  height: 300px;
  
}
.video-player{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.video-player .header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

/* Notes Sidebar Component */

.note-sidebar{
  height: 100%;
}

.note-sidebar textarea{
  resize: none;
  width: 100%;
  height: 100%;
  border: 1px white solid;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  /* outline: none; */
  /* background-color: transparent; */
  color: #000000;
  font-size: large;
}
/* Description */

#description{
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
}

/* Comments */
.comments{
  height: 1000px;
}
.comment{
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border-bottom: 0.5px solid black; */
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 20px;

  
}

.comment .user{
  font-weight: bold;
}

.notes nav {
  background-color: white;
}


.pointer{
  cursor: pointer;
}

/* Timestamp Container */
.timestamp-container{
  
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto next line */
  gap: 5px; 

  margin-top: 15px;

  background-color: rgb(214, 214, 214);
  padding: 10px;
  border-radius: 10px;
}

.timestamp-btn{
  background-color: white !important;
  height: min-content !important;
  width: min-content !important;
  line-height: normal !important;
 /* This makes sure that the items don't grow or shrink but take their natural width */
}

.note-sidebar .header{
  display: flex;
  gap: 20px;
  font-size: 20px !important;
  
}

.note-sidebar-btn {
  background-color: rgb(214, 214, 214) !important;
}



/* AI Container */
.ai-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer{
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
}

#dropdown-basic-menu{
  background-color: white;
}
.input-group {
  width: 200px !important;
}

.ai-component-header{
  background-color: rgb(225, 245, 225) !important;
  display: flex !important;
  padding-bottom: 0px !important;
}

.dropdown-basic-ai{
  text-align: center !important;
  border-radius: 30px !important;
  justify-self: center !important;
}

.dropdown-container-ai{
  align-self: center !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 15px !important;
}

.ai-component-body{
  background-color: rgb(225, 245, 225) !important;
}

/* Summarize */
.summ-form{
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.summ textarea{
  border-radius: 15px;

}
.dropdown-toggle .btn .btn-outline-secondary{
  background-color: white !important;

}
.generate{
  border-radius: 40px !important;
  margin-top: 20px !important;
  width: 125px;

  /* align-self: center; */
}

/* list */
.form-control{
  border-radius: 15px !important;
}

/* Saved Page */
.saved{
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

.saved h1{
  font-weight: 200;
  margin-bottom: 20px;
}

.saved-page-dropdown {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 8px;
}

.saved-page-dropdown h5 {
  font-weight: 500; 
  margin-bottom: 0;
}

/* Saved Container */
.saved-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

/* Notes Page */
.notes{
  height: 100%;
}

.notes h1 {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  font-weight: 200;
  padding-bottom: 20px;

  border-bottom: 1px black solid;
  margin-bottom: 0px;
}


.notes .nav .active {
  background-color: #EFEFEF !important;
}

.notes .nav-link {
  color: black !important;
  
}

.notes .nav-link.active {
  color: rgb(15, 3, 107);
}

.notes .nav-item {
  width: 275px;
  margin-left: 0px;
  margin-right: 0px;
}

.notes .nav{
  padding: 0px;
}
.nav-item{
  width: 100% !important;
  border-bottom: 1px solid #888888 !important;
}
.nav-link {
  width: 100% !important;
  margin-right: 0px !important;
  padding: 20px !important;
}

.nav-col{
  padding: 0px !important;

}

.note-tab-content{
  height: 100% !important;
}

/* Note component */

.note {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
}

.note h3{
  padding-top: 25px;
  padding-left: 20px;
}

.note-save{
  /* padding-left: 20px !important; */
  margin: 15px !important;
}

.note textarea {
  padding-left: 20px;
  resize: none;
  width: 100%;
  height: 100%;
  /* border: 1px black solid; */
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
  font-size: large;
}

.brand{
  text-align: center !important;
  margin: 0px !important;
}
