#root {
  margin: 0;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




nav{
  display: flex;
  flex-direction: column;

  width: 150px;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: gray;

  height: 100vh;
}

nav a {
  padding-bottom: 15px;
  border-bottom: 0.5px solid black;
}


.App{
  display: flex;
  
}