@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');#root {
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.App{
  display: flex;
  font-family: 'Inter', sans-serif;
  --secondary-background: #FBFBFB;
}

/* Content - Main Screen */

.content{
  width: 100%;
  height: 100vh;
}

/* Nav bar */

.nav{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  /* width: 20vw;  */
  width: 100%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  background-color: var(--secondary-background);
  border-right: 1px solid lightgray;
  height: 100%;
}

.nav h3{
  padding-left: 10px;
  padding-right: 10px;
}

.nav a {
  text-align: left;
  padding: 5px;
  width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.5px solid black;
}




/* Home */
.home{
  justify-content: last baseline;
}

.home h1 {
  font-weight: 200;
}
.home .left-screen{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.home .right-screen{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
}

/* Explore in Home */

.explore{
  text-align: center;
  h1{
    margin-bottom: 25px;
    font-weight: 100;
  }
}
.explore .explore-videos{
    color: black;
    align-items: center;
    background-color: #FBFBFB;
    padding: 25px;
    margin-right: 20px;
    border-radius: 15px;
    border: 1px solid lightgray;
    box-shadow: 5px;
  }
/* Course */

.course {
  display: flex;
  flex-direction: column;
}

.course h1 {
  align-self: baseline;
  font-size: 2rem;
  font-weight: 100;
}

.course-videos{
  display: flex;
  gap: 20px;
}

/* Video */
.video{
  height: 200px;
  width: 200px;
  
  img{
    border-radius: 10px;
  }
  /* display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none; */

}

.video p:hover {
  overflow: visible;
  white-space:normal;

}


.video img{
  width: 200px;
}

.video p{
  width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 300;
}

/* Watching */

.watching {
 justify-content: space-between; 
 gap: 5px;
 height: 100%;
 /* width: 100%; */
}

.watching .right-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watching .right-screen .button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  
}

.sidebar{
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  background-color: lightgray;
  height: 500px;
  overflow: scroll;
}


.comments{
  margin-top: 20px;
  overflow: scroll;
  height: 300px;
  
}
.video-player{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.video-player .header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

/* Notes Sidebar Component */

.note-sidebar{
  height: 100%;
}

.note-sidebar textarea{
  resize: none;
  width: 100%;
  height: 100%;
  /* border: 1px black solid; */
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
  font-size: large;
}

/* Comments */
.comment{
  background-color: lightgrey;
  display: flex;
  gap: 5px;
  border-bottom: 0.5px solid black;
  
}

.comment .user{
  font-weight: bold;
}

.notes nav {
  background-color: white;
}
