#root {
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.App{
  display: flex;
}

/* Content - Main Screen */

.content{
  width: 100%;
}

/* Nav bar */

nav{
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 150px;
  float: left;
  margin: 0;
  padding: 0px;
  margin-right: 10px;
  background-color: gray;

  height: 100vh;
}

nav h3{
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid black;
}




/* Home */
.home{
  display: flex;
  justify-content: space-between;
}

.home h1 {
  justify-self: baseline;
  align-self: flex-start;
}

.home .left-screen{
  display: flex;
  flex-direction: column;
}

/* Explore in Home */

.explore{
  color: black;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  margin-top: 20px;
  margin-right: 100px;
  border-radius: 15px;
}

/* Course */

.course {
  display: flex;
  flex-direction: column;
}

.course h1 {
  align-self: baseline;
  font-size: 2rem;
}

.course-videos{
  display: flex;
  gap: 20px;
}

/* Video */
.video{
  height: 200px;
  width: 200px;

  /* display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none; */

}

.video p:hover {
  overflow: visible;
  white-space:normal;

}


.video img{
  width: 200px;
}

.video p{
  width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 10px;
}

/* Watching */

.watching {
 display: flex;
 justify-content: space-between; 
 margin-top: 20px;
 gap: 5px;
}

.sidebar{
  width: 400px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 15px;
  background-color: lightgray;
  height: 500px;
  overflow: scroll;
}

.comments{
  margin-top: 20px;
  overflow: scroll;
  height: 300px;
  
}
/* Comments */
.comment{
  background-color: lightgrey;
  display: flex;
  gap: 5px;
  border-bottom: 0.5px solid black;
  
}

.comment .user{
  font-weight: bold;
}
